# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
joblib==1.2.0
numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.1.4
streamlit==1.32.0
